<section class="px-0 py-12 mx-0 my-4 overflow-hidden bg-evergreen-100 rounded-3xl sm:mx-2 md:mx-4">
    <div class="container px-4 mx-auto">
        <div class="max-w-4xl">
            <p class="text-xl text-evergreen-500">
                Produced by IIED and published by Sage
            </p>
            <h1 class="mb-6 text-3xl font-black sm:text-4xl lg:text-6xl">
                Research and practice for more just urban futures
            </h1>
            <p class="text-lg sm:text-xl">
                Environment &amp; Urbanization is a leading peer reviewed journal on urban development, inequality and environmental change, with a particular focus on Africa, Asia and Latin America.
            </p>
        </div>
    </div>
</section>